<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
	<title>Time Out page</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content=""></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/static/assets/images/logo.ico" />
	<body>
		<h1>Request Time Out , Please Try Again.</h1>
	</body>
</html>