<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="/common/layout"
	  lang="en">
	<head>
		<css data-layout-fragment="extendcss">
			<title>测试页面</title>
		</css>
	</head>
	<body>
		<div data-layout-fragment="page-container">
			<button type="button" class="btn btn-info btn-sm btn-round act">按钮1</button>
			<button type="button" class="btn btn-info btn-sm btn-round act">按钮2</button>
			<a th:href="@{/demo1/queryList2?name=panda}">返回thymeleaf解析页面</a>
			<a th:href="@{/demo1/test/freemarker}">返回freemarker解析页面</a>
			<a th:href="@{/output/downloadToXLS.html}">下载xls文件(旧)</a>
			<a th:href="@{/outputXLS/downloadToXLS.html}">下载xls文件(新)</a>
			<a th:href="@{/outputXLS/downloadToXLSX.html}">下载xlsx文件</a>
			<input type="text" th:value="${application.cxtPath}" />
			<a th:href="@{/demo2/queryList2?name=panda}">该页面不存在</a>
			<a href="javascript:void(0);" onclick="sendAjax1();">发送AJAX请求(原生js DomString GET)</a>
			<a href="javascript:void(0);" onclick="sendAjax2();">发送AJAX请求(原生js DomString POST)</a>
			<a href="javascript:void(0);" onclick="javascript:alert('还在写');">发送AJAX请求(原生js FormData GET/POST)</a>
			<a href="javascript:void(0);" onclick="sendAjax3();">发送AJAX请求(Jquery DomString)</a>
			<a href="javascript:void(0);" onclick="javascript:alert('还在写');">发送AJAX请求(Jquery FormData)</a>
		</div>
		<extendscript data-layout-fragment="extendscript">
			<script th:src="@{/resources/static/assets/js/common/index.js}"></script>
			<script th:src="@{/resources/static/assets/js/common/AjaxTest.js}"></script>
		</extendscript>
	</body>
</html>