<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="en">
	<title>首页</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="panda" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/static/assets/images/logo.ico}" />
	<body>
		<a th:href="@{/demo1/queryList2?name=panda}">返回页面</a>
		<input type="text" th:value="${currentDate}" />
		<!-- <input type="text" th:value="${application.cxtPath}" /> -->
		<a th:href="@{/testServlet?method=testJsonMethod1}">该页面不存在</a>
		<a href="javascript:void(0);" onclick="sendAjax1();">发送AJAX请求(原生js DomString)</a>
		<a href="javascript:void(0);" onclick="sendAjax2();">发送AJAX请求(原生js FormData)</a>
		<a href="javascript:void(0);" onclick="sendAjax3();">发送AJAX请求(Jquery DomString)</a>
		<a href="javascript:void(0);" onclick="sendAjax4();">发送AJAX请求(Jquery FormData)</a>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/common/jquery-2.0.3.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/plugins/layer/layer.js}"></script>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/common/util.js}"></script>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/common/ajaxCommon-panda.js}"></script>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/common/index.js}"></script>
		<script type="text/javascript" th:src="@{/resources/static/assets/js/common/AjaxTest.js}"></script>
	</body>
</html>