<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head data-th-fragment="head">
        <!-- meta 标签 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit" />
        <meta name="keywords" content="个人商城" />
        <meta name="description" content="个人商城(自己用)" />
        <meta name="author" content="panda" />
        <!-- 网站小图标 -->
        <link rel="icon" th:href="@{/resources/static/assets/images/logo.ico}" type="image/x-icon" />
        <!-- bootstrap css -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/bootstrap-datetimepicker.css}" />
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/dosmore.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/ace.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/ace-ie.min.css}" />
        <title data-layout-fragment="extendcss"></title>
        <!-- if it IE 9
            <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        -->
        <script th:src="@{/resources/static/assets/js/common/jquery-2.0.3.min.js}"></script>
    </head>
</html>